<html>
    <head>
        <title>
        {% if profile %}
        Edit
        {% else %}
        Add
        {% endif %}
        Profile: Not (Yet) Moody Door
        </title>
        <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />
    </head>
    <body>
        <div id="content">
        <h1>
        {% if profile %}
        Edit
        {% else %}
        Add
        {% endif %}
        Profile
        </h1>
        <form action="/config" enctype="multipart/form-data" method="post">
            {% if profile %}
            <input name="key" type="hidden" value="{{ profile.key }}" />
            {% endif %}
            <p><label for="name">Name:</label>
            <input name="name"
                type="text"
                {% if profile %}value="{{profile.name}}"{% endif %}
                /></p>
            <p><label for="rfid">RFID:</label>
            <input name="rfid"
                type="text"
                {% if profile %}value="{{profile.rfid}}"{% endif %}
                /></p>
            <p><label for="photo">Photo:</label></p>
            {% if profile %}
            <p><img style="width: 8em; height: 8em" src="/photo?thumb=True&key={{ profile.key }}" /></p>
            {% endif %}
            <p><input name="photo" type="file" /></p>
            <p><label for="bio">Bio:</label></p>
            <p><textarea name="bio">{% if profile %}{{ profile.bio }}{% endif %}</textarea></p>
            <p><input type="submit" value="Save" /></p>
        </form>
        <p><a href="/">back</a></p>
        </div>
    </body>
</html>
