<html>
    <head>
        <title>
            {% if accessed %}
            Last Accessed:
            {% else %}
            View Profile:
            {% endif %}
            Not (Yet) Moody Door
        </title>
        <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />
        {% if accessed %}
        <meta http-equiv="refresh" content="10"> 
        {% endif %}
    </head>
    <body>
        <div id="content">
        <h1>
            {% if accessed %}
            Last Accessed By
            {% endif %}
            {{ profile.name }}
        </h1>
        {% if accessed %}
        <p><strong>Accessed:</strong> {{ accessed }}</p>
        {% endif %}
        {% if profile.photo %}
        <p><img style="width: 8em; height: 8em;" src="/photo?key={{ profile.key }}" /></p>
        {% endif %}
        <p><strong>Bio:</strong> {{ profile.bio }}</p>
        {% if not accessed %}
        <p>
        <a href="/config?key={{ profile.key }}">edit</a>
        <a href="/">back</a>
        </p>
        {% endif %}
        </div>
    </body>
</html>
