* {
    font-family: Optima, Verdana, sans-serif;
    font-size: 1em;
}

body {
    background-color: gray;
    padding-left: 20em;
    margin: 0px;
}

#content {
    background-color:white;
    padding: 2.5em 1.5em;
    width: 39em;
    height: 98%;
    border-left: solid blue thick;
    border-right: solid black 5em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.1em;
}

form {
    font-size: 0.8em;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 15em;
}

textarea {
    width: 30em;
    height: 20em;
}
